/* Universal Styles */

.sidebar,
.desktop {
  display: none;
}

h2, h3, h4 {
 margin-top: 0;
}

h1 {
 font-family: 'Open Sans', sans-serif;
 font-size: 1.5rem;
 font-weight: normal;
}

h2 {
 font-family: 'Ledger', serif;
 font-size: 2.2rem;
 margin-bottom: 2rem;
}

h3 {
 font-family: 'Ledger', serif;
 font-size: 1.3rem;
 margin-bottom: 2rem;
}

h4 {
 font-family: 'Open Sans', sans-serif;
 font-weight: normal;
 font-size: 1.2rem;
}

p {
 font-family: 'Open Sans', sans-serif;
}

a {
 font-family: 'Open Sans', sans-serif;
 text-decoration: none;
 color: inherit;
}

header a,
footer a {
 font-family: 'Ledger', serif;
 margin-left: 16px;
}

img {
height: auto;
width: 100%;
display: block;
}

.icon {
 height: 35px;
 width: 35px;
}



@media only screen and (min-width: 650px) {
  .sidebar,
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}


h2 {
 font-size: 1.5rem;
}

h3 {
 font-family: 'Ledger', serif;
 font-size: 1.2rem;
 margin-bottom: 2rem;
}

h4 {
 font-family: 'Open Sans', sans-serif;
 font-weight: normal;
 font-size: 1rem;
}

p {
  /*font-size: ;*/
}



/* Header Styles */

header {
  position: fixed;
  height: 64px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255,152,0);
  box-sizing: border-box;
  padding: 0 24px;
  z-index: 5;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner Styles */

#banner {
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  /* offset fixed header */
  position: relative;
  top: 64px;
}

.banner.img {
  height: 180px;
  overflow: hidden
}

.banner.main {
  padding: 32px 16px;
}

.banner.main h3:first-of-type {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.button {
  text-align: center;
  background-color: darkgray;
  color: white;
  width: 75%;
  padding: 8px 0;
  margin-bottom: 32px;
  margin-top: 24px;
}

@media only screen and (min-width: 650px) {
  #banner {
    flex-direction: row;
    justify-content: flex-start;
  }

  .banner.img {
  height: auto;
  width: 60%;
  padding: 32px 24px;
  }

  .banner.main {
    margin: 0 16px;
    padding: 0;
    width: 40%;
  }

}

/* Info Styles */
/* Responsive images need work. */
/* Main boxes need padding but no margins */

#info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(126,138,162);
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.info.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.info.box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 16px 16px;
  margin: 0;
  height: 100%;
}

.info.box:hover {
  background-color: white;
}

.box.img {
  width: 100%;
}

.box.content {
  width: 100%;
  padding: 16px 16px;
}


@media only screen and (min-width: 650px) {
  #info {
    margin-top: 32px;
    padding: 32px 24px 0 24px;
  }

  .info.box {
    flex-direction: row;
  }

  .info.main {
    height: inherit;
    width: 423px;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px black;
  }

  .info.sidebar {
    /*height: 100%;*/
    flex: 1 1 60%;
    padding: 32px 24px;
  }

  .info.sidebar h2 {
    margin-top: 2rem;
  }

  .box.img {
    width: 35%;
    /*height: 100%;*/
    padding: 16px;
  }

  .box.content {
    width: 65%;
  }
}

/* Course Styles */

#course {
  padding: 32px;
  border-bottom: 1px solid black;
}

#course h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

hgroup h3 {
  background-color: gray;
  padding: 16px 16px;
  margin-bottom: 8px;
}


@media only screen and (min-width: 650px) {

  .course.desktop {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
  }

  .course.box {
    flex-grow: 1;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    padding: 16px 16px;
    /*height: 100%;*/
  }


  #course .box.content {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 16px 24px 16px;
    /*height: 50%;*/
  }
}

/* Video Styles */

#video {
  width: 100%;
  background-color: rgb(89,121,168);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 0;
  box-sizing: border-box;
}

#video h2 {
  width: 100%;
  text-align: center;
}

.video.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.video.main h3 {
  margin-top: 2rem;
}
.video.main video {
  height: auto;
  max-width: 100%;
}

.video.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;

}

/* Breakpoint needs to be @ 850px */

@media only screen and (min-width: 650px) {
  #video {
    padding: 32px 24px;
  }

  #video h2 {
    margin-bottom: 32px;
  }

  .video.info.box {
    flex-direction: row;
    align-items: center;
  }

  .video.sidebar {
    height: inherit;
    width: 423px;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px black;
  }

  .video.main {
    flex: 1 1 60%;
    padding-right: 24px;
    max-width: 50%
  }

  .video.box.img {
    width: 35%;
    height: 100%;
    padding: 16px;
  }

  .video.box.content {
    width: 65%;
  }
}


/* Footer Styles */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  padding: 16px 16px;
  font-size: 0.8rem;
}


@media only screen and (min-width: 650px) {
  footer {
    border-top: solid black 1px;
    padding-right: 24px;
  }

}
