/* Universal Styles */

.sidebar,
.desktop {
  display: none;
}

@media only screen and (min-width: 650px) {
  .sidebar,
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Ledger', serif;
}

img {
 height: auto;
 width: 100%;
 max-width: 100%
 display: block;
}


/* Header Styles */

header {

}

/* Banner Styles */
/* Figure out responsive padding */

#banner {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner.img {
  height: 180px;
  overflow: hidden
}

.banner.main {
  padding: 32px 16px;
}

.button {
  text-align: center;
  background-color: darkgray;
  color: white;
  width: 75%;
  padding: 8px 0;
  margin-bottom: 32px;
  margin-top: 24px;
}

@media only screen and (min-width: 650px) {
  #banner {
    flex-direction: row;
    justify-content: space-around;
  }

  .banner.img {
  height: auto;
  width: 60%;
  padding: 32px 24px;
  }

  .banner.main {
    margin: 0 16px;
    padding: 0;
  }

}

/* Info Styles */
/* Cannot get .info.main to fill parent container. */

#info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.info.main {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.info.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box.content {
  background-color: lightgreen;
}

@media only screen and (min-width: 650px) {
  .info.box {
    flex-direction: row;
  }

  .info.sidebar {
    width: 75%;
  }

  .info.main {
    height: 432px;
    width: 100%;
    justify-content: space-between;
    align-items: space-between;
  }

  .box.img {
    width: 35%;
    height: 100%;
  }

  .box.content {
    width: 65%;
  }
}




/* Course Styles */
/* Video Styles */
/* Footer Styles */
